{% extends 'base.html' %} {% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
</style>
<body class ="font-mono">
<h1 class = "text-center text-7xl pt-7">Main Menu</h1>
<div id="select" class="flex flex-col text-center my-44 text-xl">
    <div class = "m-auto transition duration-300 ease-in px-3 py-3 rounded-lg hover:shadow-md"><a href = "fighters/">Click here to Start</a></div>
    <div class = "m-auto transition duration-300 ease-in px-3 py-3 rounded-lg hover:shadow-md"><a href = "accounts/signup/">Click here to Insert Credit</a></div>
    <div class="text-xs">^ Signup ^</div>
</div>
</body>
{% endblock %}