{% extends 'base.html' %} {% block content %}
<style>
  @import url('https://fonts.cdnfonts.com/css/american-captain-2');

h1 {
    font-family: 'American Captain', sans-serif;                                           
    text-shadow: 3px 8px black;
    -webkit-text-stroke: 1px black;
  }
</style>
<body class="bg-slate-700">
<h1 class="text-center text-white text-6xl">Select Your Fighter!</h1>
<div class="container grid grid-cols-4 mx-32 px-5 scale-75">
{% for game in games %}
  <div>
    <div class="my-4 px-2 w-64">
      {% for photo in game.photo_set.all %}
      <div class="rounded-xl overflow-hidden shadow-xl shadow-black bg-red-500 ring-2 ring-red-500">
        <a href="{% url 'detail' game.id %}">
          <span id="theTitle" class="font-mono"> {{ game.name }} </span>
          <img src="{{ photo.url }}" class="box-border h-80 w-64" alt="{{ game.name }}">
        </a>
      </div>
      {% empty %}
      <a href="{% url 'detail' game.id %}">
        <div class="card-panel teal-text center-align">{{ game.name }}</div>
      </a>
      {% endfor %}
    </div>
  </div>

{% endfor %}
</div>
</body>
{% endblock %}